.App {
  background-color: #086788;
  text-align: center;
  box-sizing: border-box;
  display: block;
}

/* Nav  */
.link {
  color: #ffffff;
  font-size: 24px;
}

/* Footer  */
.footer {
  background-color: #086788;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100vw;
}

span.text {
  font-size: 20px;
}

/* Homepage */
.intro {
  min-height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headshot-img {
  max-width: 40rem;
}

img {
  width: 75%;
}

.name {
  padding: 2rem 0 0 0;
}


a.downArrow {
  display: flex;
  justify-content: center;
}

.arrow {
  position: relative;
  bottom: -5vh;
  color: #ffffff;
}

/* Bio  */
.about-me {
  background-color: #ffffff;
  min-height: 95vh;
}

.about-title {
  color: #086788;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.about-content {
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding: 2rem 0 0 0;
}

/* SkillsTable  */
.tableHeader {
  color: #086788;
  padding-top: 1rem;
}

.skillsTable {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.theader {
  font-family: 'Varela Round', sans-serif;
  font-size: 20px;
  padding-right: 2rem;
  order: 1;
}

.trow {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  padding-right: 2rem;
  order: 2;
}

.upArrow {
  color: #086788;
  /* padding-top: 1rem; */
}

/* Homeview  */
.outerContainer {
  position: relative;
}