.App {
  text-align: center;
  background-color: #086788;
}

.outerContainer {
  position: relative;
}

.link {
  color: #ffffff;
  font-size: 24px;
}

.footer {
  background-color: #086788;
  position: fixed;
  bottom: 0px;
  width: 100vw;
}

span.text {
  font-size: 20px;
}