* {
  box-sizing: border-box;
}

.App {
  background-color: #086788;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

/* Nav  */
.link {
  color: #ffffff;
  font-size: 24px;
}

/* Footer  */
.footer {
  background-color: #086788;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0px;
  width: 100vw;
}

span.text {
  font-size: 20px;
}

/* Homepage */
.intro {
  min-height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.headshot-img {
  max-width: 40rem;
}

img {
  width: 75%;
}

.name {
  padding: 2rem 0 0 0;
}

a.downArrow {
  display: flex;
  justify-content: center;
}

.animate__animated.animate__bounce {
  animation-duration: 2s;
}

.arrow {
  position: relative;
  bottom: -5vh;
  color: #ffffff;
}

/* Bio  */
.about-me {
  background-color: #ffffff;
  min-height: 95vh;
}

.about-title {
  color: #086788;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem 0 0 0;
}

.about-content {
  font-family: "Varela Round", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: justify;
  padding: 2rem 0 0 0;
}

/* SkillsTable  */
.tableHeader {
  color: #086788;
  padding-top: 1rem;
}

.skillsTable {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.theader {
  font-family: "Varela Round", sans-serif;
  font-size: 20px;
  padding-right: 2rem;
  order: 1;
}

.trow {
  font-family: "Varela Round", sans-serif;
  font-size: 18px;
  padding-right: 2rem;
  order: 2;
}

.upArrow {
  color: #086788;
}

/* ProjCarousel  */
.projects {
  min-height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

/* ProjCard */
.projCard {
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}

.projLink {
  color: #086788;
  font-size: 18px;
  font-weight: bold;
}

/* Contact  */
.contactHeader {
  top: 25vh;
}

.contactInfo {
  min-height: 95vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contactItem {
  color: #ffffff;
  padding-bottom: 2rem;
  font-size: 20px;
}

/* Homeview  */
.outerContainer {
  position: relative;
}
